.e2_2 { 
	overflow:hidden;
}
.e2_2 { 
	background-color:rgba(222.06250101327896, 222.06250101327896, 222.06250101327896, 1);
	width:500px;
	height:1000px;
	position:absolute;
}
.e2_8 { 
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:17px;
	position:absolute;
	left:118px;
	top:0px;
	font-family:Lakki Reddy;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e2_9 { 
	width:500px;
	height:281px;
	position:absolute;
	left:0px;
	top:38px;
	background-image:url(images/paradise_beach_desktop_wallpaper_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_10 { 
	color:rgba(255, 255, 255, 1);
	width:297px;
	height:37px;
	position:absolute;
	left:101px;
	top:75px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e2_18 { 
	background-color:rgba(255, 255, 255, 1);
	width:311px;
	height:43px;
	position:absolute;
	left:94px;
	top:303px;
}
.e2_29 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:3px;
	position:absolute;
	left:102px;
	top:316px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
	line-height:px;
}
.e2_30 { 
	color:rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
	width:43px;
	height:0px;
	position:absolute;
	left:167px;
	top:316px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
	line-height:px;
}
.e2_32 { 
	color:rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
	width:30px;
	height:0px;
	position:absolute;
	left:242px;
	top:316px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
	line-height:px;
}
.e2_33 { 
	transform: rotate(-1.4033419209422001e-14deg);
	color:rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
	width:29px;
	height:0px;
	position:absolute;
	left:315px;
	top:316px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
	line-height:px;
}
.e2_36 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:50px;
	height:0px;
	position:absolute;
	left:102px;
	top:325px;
}
.2_36 { 
	border:1px solid rgba(55.25000050663948, 53.86875182390213, 53.86875182390213, 1);
}
.e2_37 { 
	transform: rotate(-1.4033419209422001e-14deg);
	width:50px;
	height:0px;
	position:absolute;
	left:167px;
	top:325px;
}
.2_37 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e2_39 { 
	transform: rotate(0.000005008956130975318deg);
	width:50px;
	height:0px;
	position:absolute;
	left:242px;
	top:325px;
}
.2_39 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.2_40 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e2_40 { 
	width:50px;
	height:0px;
	position:absolute;
	left:315px;
	top:325px;
}
.e2_41 { 
	border-radius:500px;
	background-color:rgba(255, 4.249995946884155, 4.249995946884155, 1);
	width:11px;
	height:10px;
	position:absolute;
	left:380px;
	top:316px;
}
.2_42 { 
	border:0.5px solid rgba(255, 255, 255, 1);
}
.e2_42 { 
	width:7px;
	height:3px;
	position:absolute;
	left:382px;
	top:321px;
}
.e2_43 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:6px;
	height:5px;
	position:absolute;
	left:146px;
	top:314px;
}
.2_43 { 
	border:0.20000000298023224px solid rgba(0, 0, 0, 1);
}
.e2_47 { 
	transform: rotate(90deg);
	width:0.5px;
	height:0px;
	position:absolute;
	left:149px;
	top:317px;
}
.2_47 { 
	border:0.5px solid rgba(0, 0, 0, 1);
}
.e2_44 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:6px;
	height:5px;
	position:absolute;
	left:212px;
	top:314px;
}
.2_44 { 
	border:0.20000000298023224px solid rgba(0, 0, 0, 1);
}
.e2_50 { 
	transform: rotate(90deg);
	width:0.5px;
	height:0px;
	position:absolute;
	left:215px;
	top:317px;
}
.2_50 { 
	border:0.5px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e2_45 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:6px;
	height:5px;
	position:absolute;
	left:287px;
	top:313px;
}
.2_45 { 
	border:0.20000000298023224px solid rgba(0, 0, 0, 1);
}
.e2_51 { 
	transform: rotate(90deg);
	width:0.5px;
	height:0px;
	position:absolute;
	left:290px;
	top:316px;
}
.2_51 { 
	border:0.5px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e2_46 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:6px;
	height:5px;
	position:absolute;
	left:360px;
	top:314px;
}
.2_46 { 
	border:0.20000000298023224px solid rgba(0, 0, 0, 1);
}
.e2_52 { 
	transform: rotate(90deg);
	width:0.5px;
	height:0px;
	position:absolute;
	left:363px;
	top:317px;
}
.2_52 { 
	border:0.5px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e2_56 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:0px;
	position:absolute;
	left:160px;
	top:367px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e2_59 { 
	transform: rotate(2.02721380360728e-15deg);
	width:1px;
	height:0px;
	position:absolute;
	left:257px;
	top:387px;
}
.2_59 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_60 { 
	transform: rotate(90deg);
	width:1px;
	height:0px;
	position:absolute;
	left:267px;
	top:386px;
}
.2_60 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e2_61 { 
	transform: rotate(89.99995226593896deg);
	width:2px;
	height:0px;
	position:absolute;
	left:248px;
	top:385px;
}
.2_61 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e2_62 { 
	transform: rotate(90deg);
	width:1.4142136573791504px;
	height:0px;
	position:absolute;
	left:240px;
	top:386px;
}
.2_62 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e2_63 { 
	transform: rotate(90deg);
	width:1.4142135381698608px;
	height:0px;
	position:absolute;
	left:276px;
	top:386px;
}
.2_63 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e2_64 { 
	transform: rotate(-90.00000000000003deg);
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:0px;
	position:absolute;
	left:60px;
	top:17px;
}
.2_64 { 
	border:0.5px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e2_65 { 
	transform: rotate(90deg);
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:0px;
	position:absolute;
	left:127px;
	top:15px;
}
.2_65 { 
	border:0.5px solid rgba(0, 0, 0, 1);
}
.e2_66 { 
	transform: rotate(90.00000000000001deg);
	width:1px;
	height:0px;
	position:absolute;
	left:356px;
	top:16px;
}
.2_66 { 
	border:0.5px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e2_67 { 
	transform: rotate(90deg);
	width:1px;
	height:0px;
	position:absolute;
	left:428px;
	top:16px;
}
.2_67 { 
	border:0.5px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e3_2 { 
	width:100px;
	height:69px;
	position:absolute;
	left:79px;
	top:399px;
	background-image:url(images/serene_tours_tropical_escape_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:18px;
	position:absolute;
	left:87px;
	top:428px;
}
.e3_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:10px;
	position:absolute;
	left:95px;
	top:432px;
}
.3_4 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e3_5 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:6px;
	position:absolute;
	left:106px;
	top:434px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e3_6 { 
	width:103px;
	height:51px;
	position:absolute;
	left:195px;
	top:399px;
	background-image:url(images/f_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:89px;
	height:17px;
	position:absolute;
	left:201px;
	top:429px;
}
.e4_8 { 
	background-color:rgba(255, 255, 255, 1);
	width:77px;
	height:9px;
	position:absolute;
	left:207px;
	top:433px;
}
.4_8 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e4_9 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:6px;
	position:absolute;
	left:226px;
	top:434px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e4_10 { 
	width:100px;
	height:51px;
	position:absolute;
	left:316px;
	top:399px;
	background-image:url(images/ss_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_15 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:18px;
	position:absolute;
	left:160px;
	top:468px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e4_16 { 
	transform: rotate(90deg);
	width:1px;
	height:0px;
	position:absolute;
	left:258px;
	top:496px;
}
.4_16 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e4_17 { 
	transform: rotate(90deg);
	width:1px;
	height:0px;
	position:absolute;
	left:248px;
	top:496px;
}
.4_17 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e4_18 { 
	transform: rotate(90.00000000000001deg);
	width:1px;
	height:0px;
	position:absolute;
	left:240px;
	top:496px;
}
.4_18 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e4_19 { 
	transform: rotate(90.00000000000001deg);
	width:1px;
	height:0px;
	position:absolute;
	left:267px;
	top:496px;
}
.4_19 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e4_20 { 
	transform: rotate(90.00000000000003deg);
	width:1px;
	height:0px;
	position:absolute;
	left:276px;
	top:496px;
}
.4_20 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e4_21 { 
	width:78px;
	height:31px;
	position:absolute;
	left:112px;
	top:505px;
	background-image:url(images/villa_thalie_evening_deck_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_6 { 
	width:78px;
	height:31px;
	position:absolute;
	left:262px;
	top:505px;
	background-image:url(images/3bba457102724feb9116eb4095fff286_large___84ac06177470e17f3e5268a97f3319fe_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_3 { 
	width:26px;
	height:21px;
	position:absolute;
	left:112px;
	top:536px;
	background-image:url(images/villa_thalie_bedroom_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_5 { 
	width:26px;
	height:21px;
	position:absolute;
	left:163px;
	top:536px;
	background-image:url(images/villa_thalie_outside_seating_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_4 { 
	width:26px;
	height:21px;
	position:absolute;
	left:138px;
	top:557px;
	background-image:url(images/villa_thalie_living_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:54px;
	height:52px;
	position:absolute;
	left:189px;
	top:505px;
}
.e10_22 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:7px;
	position:absolute;
	left:192px;
	top:508px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e9_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:54px;
	height:52px;
	position:absolute;
	left:340px;
	top:505px;
}
.e9_8 { 
	width:26px;
	height:21px;
	position:absolute;
	left:288px;
	top:536px;
	background-image:url(images/montage_kapalua_bay_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_10 { 
	width:26px;
	height:21px;
	position:absolute;
	left:314px;
	top:536px;
	background-image:url(images/montage_kapalua_bay__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_9 { 
	width:26px;
	height:21px;
	position:absolute;
	left:262px;
	top:536px;
	background-image:url(images/0f218276_18ea_4517_896c_c0e1b37e3d94_e1643212766139_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_11 { 
	width:78px;
	height:31px;
	position:absolute;
	left:111px;
	top:565px;
	background-image:url(images/ff_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_23 { 
	background-color:rgba(255, 250.75000405311584, 250.75000405311584, 1);
	width:54px;
	height:52px;
	position:absolute;
	left:189px;
	top:565px;
}
.e9_13 { 
	width:26px;
	height:21px;
	position:absolute;
	left:137px;
	top:596px;
	background-image:url(images/images__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_14 { 
	width:26px;
	height:21px;
	position:absolute;
	left:111px;
	top:596px;
	background-image:url(images/casadelagua_e1635460518987_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_15 { 
	width:26px;
	height:21px;
	position:absolute;
	left:163px;
	top:596px;
	background-image:url(images/casa_del_agua_riviera_maya_35_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_16 { 
	width:78px;
	height:32px;
	position:absolute;
	left:262px;
	top:565px;
	background-image:url(images/images__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_17 { 
	width:26px;
	height:21px;
	position:absolute;
	left:262px;
	top:597px;
	background-image:url(images/705189376_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_18 { 
	width:26px;
	height:21px;
	position:absolute;
	left:288px;
	top:597px;
	background-image:url(images/images__3__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_19 { 
	width:26px;
	height:21px;
	position:absolute;
	left:314px;
	top:597px;
	background-image:url(images/32_casa_jaguar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_20 { 
	background-color:rgba(255, 250.75000405311584, 250.75000405311584, 1);
	width:54px;
	height:53px;
	position:absolute;
	left:340px;
	top:565px;
}
.e10_21 { 
	color:rgba(0, 0, 0, 1);
	width:148px;
	height:18px;
	position:absolute;
	left:172px;
	top:640px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e10_25 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:17px;
	position:absolute;
	left:192px;
	top:516px;
	font-family:Inter;
	text-align:left;
	font-size:3px;
	letter-spacing:0;
}
.e10_26 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:6px;
	position:absolute;
	left:192px;
	top:570px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e10_27 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:16px;
	position:absolute;
	left:193px;
	top:578px;
	font-family:Inter;
	text-align:left;
	font-size:3px;
	letter-spacing:0;
}
.e10_28 { 
	color:rgba(0, 0, 0, 1);
	width:43px;
	height:6px;
	position:absolute;
	left:343px;
	top:507px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e10_29 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:16px;
	position:absolute;
	left:344px;
	top:516px;
	font-family:Inter;
	text-align:left;
	font-size:3px;
	letter-spacing:0;
}
.e10_30 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:6px;
	position:absolute;
	left:344px;
	top:568px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e10_31 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:16px;
	position:absolute;
	left:344px;
	top:578px;
	font-family:Inter;
	text-align:left;
	font-size:3px;
	letter-spacing:0;
}
.10_32 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e10_32 { 
	width:1px;
	height:0px;
	position:absolute;
	left:257px;
	top:669px;
}
.e10_33 { 
	background-color:rgba(255, 253.93750101327896, 253.93750101327896, 1);
	width:1px;
	height:0px;
	position:absolute;
	left:247px;
	top:669px;
}
.10_33 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.10_34 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e10_34 { 
	width:1px;
	height:0px;
	position:absolute;
	left:239px;
	top:669px;
}
.10_35 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e10_35 { 
	width:1px;
	height:0px;
	position:absolute;
	left:267px;
	top:669px;
}
.10_36 { 
	border:1px solid rgba(121.12499848008156, 121.12499848008156, 121.12499848008156, 1);
}
.e10_36 { 
	width:1px;
	height:0px;
	position:absolute;
	left:276px;
	top:669px;
}
.e10_37 { 
	border-radius:500px;
	background-color:rgba(12.665007300674915, 158.31250101327896, 0, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:176px;
	top:694px;
}
.e10_38 { 
	border-radius:500px;
	background-color:rgba(12.665007300674915, 158.31250101327896, 0, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:243px;
	top:692px;
}
.e10_39 { 
	border-radius:500px;
	background-color:rgba(12.665007300674915, 158.31250101327896, 0, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:310px;
	top:693px;
}
.e10_41 { 
	color:rgba(0, 0, 0, 1);
	width:33px;
	height:2px;
	position:absolute;
	left:175px;
	top:724px;
	font-family:Inter;
	text-align:left;
	font-size:3px;
	letter-spacing:0;
}
.e10_43 { 
	color:rgba(0, 0, 0, 1);
	width:43px;
	height:6px;
	position:absolute;
	left:170px;
	top:728px;
	font-family:Inter;
	text-align:center;
	font-size:2px;
	letter-spacing:0;
}
.e10_44 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:4px;
	position:absolute;
	left:246px;
	top:724px;
	font-family:Inter;
	text-align:left;
	font-size:3px;
	letter-spacing:0;
}
.e10_45 { 
	color:rgba(0, 0, 0, 1);
	width:43px;
	height:8px;
	position:absolute;
	left:236px;
	top:728px;
	font-family:Inter;
	text-align:center;
	font-size:2px;
	letter-spacing:0;
}
.e10_46 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:4px;
	position:absolute;
	left:312px;
	top:724px;
	font-family:Inter;
	text-align:center;
	font-size:3px;
	letter-spacing:0;
}
.e10_47 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:8px;
	position:absolute;
	left:303px;
	top:728px;
	font-family:Inter;
	text-align:center;
	font-size:2px;
	letter-spacing:0;
}
.e11_49 { 
	background-color:rgba(255, 0, 0, 1);
	width:24px;
	height:7px;
	position:absolute;
	left:191px;
	top:546px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e11_50 { 
	color:rgba(255, 255, 255, 1);
	width:23px;
	height:4px;
	position:absolute;
	left:192px;
	top:548px;
	font-family:Inter;
	text-align:center;
	font-size:3.5px;
	letter-spacing:0;
}
.e11_51 { 
	background-color:rgba(255, 0, 0, 1);
	width:24px;
	height:7px;
	position:absolute;
	left:192px;
	top:606px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e11_52 { 
	color:rgba(255, 255, 255, 1);
	width:20px;
	height:3px;
	position:absolute;
	left:194px;
	top:608px;
	font-family:Inter;
	text-align:center;
	font-size:3.5px;
	letter-spacing:0;
}
.e11_53 { 
	background-color:rgba(255, 4.249995946884155, 4.249995946884155, 1);
	width:24px;
	height:7px;
	position:absolute;
	left:344px;
	top:546px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e11_54 { 
	color:rgba(255, 255, 255, 1);
	width:20px;
	height:4px;
	position:absolute;
	left:346px;
	top:548px;
	font-family:Inter;
	text-align:center;
	font-size:3.5px;
	letter-spacing:0;
}
.e11_55 { 
	background-color:rgba(255, 4.249995946884155, 4.249995946884155, 1);
	width:24px;
	height:7px;
	position:absolute;
	left:344px;
	top:606px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e11_56 { 
	color:rgba(255, 255, 255, 1);
	width:20px;
	height:4px;
	position:absolute;
	left:346px;
	top:608px;
	font-family:Inter;
	text-align:center;
	font-size:3.5px;
	letter-spacing:0;
}
.e11_58 { 
	width:500px;
	height:168px;
	position:absolute;
	left:0px;
	top:743px;
	background-image:url(images/4098a237132c3ac793602624ff704867_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_59 { 
	background-color:rgba(255, 255, 255, 1);
	width:128px;
	height:113px;
	position:absolute;
	left:293px;
	top:798px;
}
.e12_60 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:16px;
	position:absolute;
	left:303px;
	top:807px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e12_63 { 
	color:rgba(222.06250101327896, 222.06250101327896, 222.06250101327896, 1);
	width:26px;
	height:6px;
	position:absolute;
	left:303px;
	top:824px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.12_64 { 
	border:1px solid rgba(222.06250101327896, 222.06250101327896, 222.06250101327896, 1);
}
.e12_64 { 
	width:100px;
	height:0px;
	position:absolute;
	left:303px;
	top:833px;
}
.e12_65 { 
	color:rgba(222.06250101327896, 222.06250101327896, 222.06250101327896, 1);
	width:13px;
	height:6px;
	position:absolute;
	left:303px;
	top:839px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.12_66 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e12_66 { 
	width:100px;
	height:0px;
	position:absolute;
	left:303px;
	top:848px;
}
.e12_67 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:22px;
	height:6px;
	position:absolute;
	left:303px;
	top:854px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.12_68 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e12_68 { 
	width:100px;
	height:0px;
	position:absolute;
	left:303px;
	top:863px;
}
.e12_69 { 
	background-color:rgba(255, 0, 0, 1);
	width:29px;
	height:11px;
	position:absolute;
	left:303px;
	top:886px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e12_70 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:7px;
	position:absolute;
	left:309px;
	top:888px;
	font-family:Inter;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
}
.e12_71 { 
	background-color:rgba(0, 0, 0, 1);
	width:500px;
	height:89px;
	position:absolute;
	left:0px;
	top:911px;
}
.e12_72 { 
	color:rgba(255, 255, 255, 1);
	width:41px;
	height:8px;
	position:absolute;
	left:19px;
	top:923px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e12_73 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:42px;
	position:absolute;
	left:19px;
	top:939px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e12_74 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:7px;
	position:absolute;
	left:76px;
	top:923px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e12_75 { 
	color:rgba(255, 255, 255, 1);
	width:43px;
	height:48px;
	position:absolute;
	left:76px;
	top:940px;
	font-family:Inter;
	text-align:right;
	font-size:5px;
	letter-spacing:0;
}
.e12_84 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:6px;
	position:absolute;
	left:359px;
	top:924px;
	font-family:Inter;
	text-align:right;
	font-size:5px;
	letter-spacing:0;
}
.e12_78 { 
	color:rgba(255, 255, 255, 1);
	width:29px;
	height:8px;
	position:absolute;
	left:136px;
	top:923px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e12_79 { 
	color:rgba(255, 255, 255, 1);
	width:28px;
	height:18px;
	position:absolute;
	left:136px;
	top:940px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e16_22 { 
	width:4px;
	height:3px;
	position:absolute;
	left:217px;
	top:534px;
	background-image:url(images/61929_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_81 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:8px;
	position:absolute;
	left:181px;
	top:923px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e12_82 { 
	color:rgba(255, 255, 255, 1);
	width:38px;
	height:48px;
	position:absolute;
	left:181px;
	top:940px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e12_83 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:48px;
	position:absolute;
	left:232px;
	top:940px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e12_85 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:6px;
	position:absolute;
	left:349px;
	top:931px;
	font-family:Inter;
	text-align:right;
	font-size:5px;
	letter-spacing:0;
}
.e12_86 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:8px;
	position:absolute;
	left:391px;
	top:944px;
	font-family:Inter;
	text-align:right;
	font-size:7px;
	letter-spacing:0;
}
.e12_88 { 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:36px;
	position:absolute;
	left:347px;
	top:953px;
	font-family:Inter;
	text-align:right;
	font-size:5px;
	letter-spacing:0;
}
.e14_2 { 
	width:4px;
	height:3px;
	position:absolute;
	left:192px;
	top:534px;
	background-image:url(images/double_bed_icon_vector_21679645_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e14_3 { 
	width:4px;
	height:3px;
	position:absolute;
	left:192px;
	top:596px;
	background-image:url(images/double_bed_icon_vector_21679645_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e14_4 { 
	width:4px;
	height:3px;
	position:absolute;
	left:345px;
	top:534px;
	background-image:url(images/double_bed_icon_vector_21679645_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e14_5 { 
	width:4px;
	height:3px;
	position:absolute;
	left:345px;
	top:596px;
	background-image:url(images/double_bed_icon_vector_21679645_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e14_6 { 
	color:rgba(0, 0, 0, 1);
	width:1px;
	height:2px;
	position:absolute;
	left:196px;
	top:534px;
	font-family:Inter;
	text-align:left;
	font-size:2px;
	letter-spacing:0;
}
.e15_7 { 
	width:5px;
	height:3px;
	position:absolute;
	left:200px;
	top:534px;
	background-image:url(images/depositphotos_452075510_stock_illustration_home_house_indoor_fixtures_stick_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_8 { 
	width:5px;
	height:3px;
	position:absolute;
	left:200px;
	top:596px;
	background-image:url(images/depositphotos_452075510_stock_illustration_home_house_indoor_fixtures_stick_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_9 { 
	width:5px;
	height:3px;
	position:absolute;
	left:353px;
	top:596px;
	background-image:url(images/depositphotos_452075510_stock_illustration_home_house_indoor_fixtures_stick_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_10 { 
	width:5px;
	height:3px;
	position:absolute;
	left:353px;
	top:534px;
	background-image:url(images/depositphotos_452075510_stock_illustration_home_house_indoor_fixtures_stick_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_11 { 
	color:rgba(0, 0, 0, 1);
	width:1px;
	height:2px;
	position:absolute;
	left:196px;
	top:596px;
	font-family:Inter;
	text-align:left;
	font-size:2px;
	letter-spacing:0;
}
.e15_12 { 
	color:rgba(0, 0, 0, 1);
	width:1px;
	height:2px;
	position:absolute;
	left:206px;
	top:534px;
	font-family:Inter;
	text-align:left;
	font-size:2px;
	letter-spacing:0;
}
.e15_13 { 
	color:rgba(0, 0, 0, 1);
	width:1px;
	height:2px;
	position:absolute;
	left:206px;
	top:596px;
	font-family:Inter;
	text-align:left;
	font-size:2px;
	letter-spacing:0;
}
.e16_14 { 
	color:rgba(0, 0, 0, 1);
	width:1px;
	height:2px;
	position:absolute;
	left:349px;
	top:596px;
	font-family:Inter;
	text-align:left;
	font-size:2px;
	letter-spacing:0;
}
.e16_15 { 
	color:rgba(0, 0, 0, 1);
	width:1px;
	height:2px;
	position:absolute;
	left:359px;
	top:596px;
	font-family:Inter;
	text-align:left;
	font-size:2px;
	letter-spacing:0;
}
.e16_16 { 
	color:rgba(0, 0, 0, 1);
	width:1px;
	height:2px;
	position:absolute;
	left:349px;
	top:534px;
	font-family:Inter;
	text-align:left;
	font-size:2px;
	letter-spacing:0;
}
.e16_17 { 
	color:rgba(0, 0, 0, 1);
	width:1px;
	height:2px;
	position:absolute;
	left:359px;
	top:534px;
	font-family:Inter;
	text-align:left;
	font-size:2px;
	letter-spacing:0;
}
.e16_18 { 
	width:4px;
	height:3px;
	position:absolute;
	left:210px;
	top:534px;
	background-image:url(images/simpleicons_places_beach_umbrella_black_silhouette_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_19 { 
	width:4px;
	height:3px;
	position:absolute;
	left:211px;
	top:596px;
	background-image:url(images/simpleicons_places_beach_umbrella_black_silhouette_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_20 { 
	width:4px;
	height:3px;
	position:absolute;
	left:363px;
	top:596px;
	background-image:url(images/simpleicons_places_beach_umbrella_black_silhouette_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_21 { 
	width:4px;
	height:3px;
	position:absolute;
	left:363px;
	top:534px;
	background-image:url(images/simpleicons_places_beach_umbrella_black_silhouette_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_24 { 
	width:4px;
	height:3px;
	position:absolute;
	left:218px;
	top:596px;
	background-image:url(images/61929_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_25 { 
	width:4px;
	height:3px;
	position:absolute;
	left:370px;
	top:596px;
	background-image:url(images/61929_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_26 { 
	width:4px;
	height:3px;
	position:absolute;
	left:370px;
	top:534px;
	background-image:url(images/61929_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_28 { 
	width:23.33333396911621px;
	height:20px;
	position:absolute;
	left:247px;
	top:697px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/icon_256x256_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_31 { 
	width:30px;
	height:31px;
	position:absolute;
	left:310px;
	top:692px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/images__4__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_33 { 
	width:30px;
	height:30px;
	position:absolute;
	left:176px;
	top:694px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/images__1__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_2 { 
	color:rgba(0, 0, 0, 1);
	width:16px;
	height:6px;
	position:absolute;
	left:28px;
	top:13px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e44_3 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:6px;
	position:absolute;
	left:76px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e44_4 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:6px;
	position:absolute;
	left:451px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e44_5 { 
	color:rgba(0, 0, 0, 1);
	width:33px;
	height:6px;
	position:absolute;
	left:375px;
	top:13px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
.e44_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:89px;
	height:17px;
	position:absolute;
	left:321px;
	top:429px;
}
.e44_8 { 
	background-color:rgba(255, 255, 255, 1);
	width:81px;
	height:9px;
	position:absolute;
	left:325px;
	top:433px;
}
.44_8 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e44_9 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:6px;
	position:absolute;
	left:352px;
	top:434px;
	font-family:Inter;
	text-align:left;
	font-size:5px;
	letter-spacing:0;
}
